<div class="padding">
  <span>renders: {{ detectedChanges() }}</span>
  <select (change)="changeStrategy($event.target.value)" class="block">
    <option
      [value]="s"
      [selected]="s === currentStrategy"
      *ngFor="let s of strategies"
      >{{ s }}</option
    >
  </select>
  <div class="padding">
    <rx-angular-demo-counter
      defaultStrategy="global"
      index="1"
    ></rx-angular-demo-counter>
  </div>
  <div class="padding">
    <rx-angular-demo-counter
      defaultStrategy="native"
      index="2"
    ></rx-angular-demo-counter>
  </div>
  <div class="padding">
    <rx-angular-demo-counter
      defaultStrategy="local"
      index="3"
    ></rx-angular-demo-counter>
  </div>
  <div class="padding">
    <rx-angular-demo-counter
      defaultStrategy="detach"
      index="4"
    ></rx-angular-demo-counter>
  </div>
  <div class="padding">
    <rx-angular-demo-counter
      defaultStrategy="noop"
      index="5"
    ></rx-angular-demo-counter>
  </div>
</div>
