.dh-l-view, .dh-embedded-view  {
  padding: 3px;
}
.dh-l-view {
  outline: 1px solid green;
}

.dh-embedded-view  {
  outline: 1px dashed green;
}

.indicator-ripple {
  text-shadow: 1px 1px 1px gray;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &mat-ripple:not(:empty) {
    transform: translateZ(0);
  }
  &.mat-ripple {
    overflow: hidden;
    position: relative;
  }
}

