$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$yiq-contrasted-threshold: 175;
// This variable affects the `.h-` and `.w-` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
    (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
    $sizes
);

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
    (
      0: 0,
      1: (
        $spacer * 0.25,
      ),
      2: (
        $spacer * 0.5,
      ),
      3: $spacer,
      4: (
        $spacer * 1.5,
      ),
      5: (
        $spacer * 3,
      ),
    ),
    $spacers
);
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
grid, inline-grid, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
$user-selects: all, auto, none !default;

$enable-grid-classes: true;
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-row-columns: 6;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}
@import '~normalize-css';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/position';
@import '~bootstrap/scss/utilities/float';
@import '~bootstrap/scss/mixins/grid-framework';
@import '~bootstrap/scss/mixins/grid';
@import '~bootstrap/scss/grid';
