<h1 style="margin-top: 1rem;">Global render queue</h1>
<div style="margin: 1rem 0; display: flex;">
  <button mat-raised-button color="primary" unpatch (click)="updateChildrenChunked()">
    Render chunked
  </button>
  <button style="margin-left: 2rem;" mat-raised-button color="primary" unpatch (click)="updateChildrenBlocking()">
    Render blocking
  </button>
</div>
<renders></renders>
<div class="render-queue-wrapper">
  <rx-angular-child *ngFor="let item of items"></rx-angular-child>
</div>
