<h2>Performance 04</h2>
<span>renders: {{ detectedChanges() }}</span>
<label>VisibleStrategy</label>
<select (change)="visibleStrategy = $event?.target?.value">
  <option [value]="s" *ngFor="let s of strategies">{{ s }}</option>
</select>
<label>InVisibleStrategy</label>
<select (change)="invisibleStrategy = $event?.target?.value">
  <option [value]="s" *ngFor="let s of strategies">{{ s }}</option>
</select>
<load-test class=""></load-test>

<button [unpatch] (click)="remove()">Click me</button>
<!--
<div style="display: flex">
  <mat-card class="card">
    <mat-card-header>
      Test Card
    </mat-card-header>
    <mat-card-content>
      <img src="./assets\images\rx-angular_logo.png" />
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      Test Card
    </mat-card-header>
    <mat-card-content>
      <img src="./assets\images\rx-angular_logo.png" />
    </mat-card-content>
  </mat-card>
</div>
-->
<div
  *rxLet="data$; let data; strategy: visibleStrategy"
  #name1="renderNotifier"
>
  {{ data.length }}
</div>
<mat-toolbar
  style="margin-bottom: 1rem"
  color="primary"
  *rxLet="data$; let data; strategy: visibleStrategy"
>
  <span>Showing {{ data?.length }} / {{ data?.length }} entries</span>
</mat-toolbar>

<div class="mat-elevation-z8 table-wrapper">
  <table
    mat-table
    [viewport-prio]="invisibleStrategy"
    *rxLet="data$; let data; strategy: visibleStrategy"
    [dataSource]="data"
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row"></td>
    </ng-container>
    <mat-text-column name="position"></mat-text-column>
    <mat-text-column name="name"></mat-text-column>
    <mat-text-column name="age"></mat-text-column>
    <mat-text-column name="balance"></mat-text-column>
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef>Picture</th>
      <td mat-cell *matCellDef="let person">
        <img [src]="person.picture" [alt]="person.name" />
      </td>
    </ng-container>
    <mat-text-column name="eyeColor"></mat-text-column>
    <mat-text-column name="company"></mat-text-column>
    <mat-text-column name="phone"></mat-text-column>
    <mat-text-column name="address"></mat-text-column>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</div>
