<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(vm.isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(vm.isHandset$ | async) ? 'over' : 'side'"
    [opened]="(vm.isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h3 matSubheader>Basics Tutorial</h3>
      <a mat-list-item [routerLink]="['demo-basics/setup']">Setup</a>
      <a mat-list-item [routerLink]="['demo-basics/input-bindings']">Input Bindings</a>
      <a mat-list-item [routerLink]="['demo-basics/output-bindings']">Output Bindings</a>
      <a mat-list-item [routerLink]="['demo-basics/global-state']">Global State</a>
      <a mat-list-item [routerLink]="['demo-basics/side-effects']">Side Effects</a>
      <a mat-list-item [routerLink]="['demo-basics/presenter-pattern']">Presenter Pattern</a>
      <a mat-list-item [routerLink]="['demo-basics/solution']">Solution</a>
      <a mat-list-item [routerLink]="['mutate-state']">Mutate State</a>
      <a mat-list-item [routerLink]="['mutate-state/step-1']">Step 1</a>
      <a mat-list-item [routerLink]="['mutate-state/solution']">Solution</a>
      <a mat-list-item [routerLink]="['dynamic-counter']">Dynamic Counter</a>
      <a mat-list-item [routerLink]="['dynamic-counter/step-1']">Step 1</a>
      <a mat-list-item [routerLink]="['dynamic-counter/solution']">Solution</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="vm.isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Tackle Ephemeral-State Reactive</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
