<ng-container *ngIf="viewState$ | push as state">
  <mat-toolbar style="margin-bottom: 1rem;" color="primary">
    <span style="margin-right: 1rem;">Animations with rxjs state</span>
    <span>Detected Changes: {{ detectedChanges() }}</span>
    <button mat-button (click)="toggleGrowState.next()">Toggle Grow</button>
  </mat-toolbar>
  <div class="grow-container">
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
    <app-grow [animationState]="state.growState"></app-grow>
  </div>
</ng-container>
