/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import 'styles/utils';
@import 'styles/theme';
@import 'styles/general';

@import 'app/features/integrations/dynamic-counter/dynamic-counter.scss';
