:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .app-sidenav-container {
    flex: 1;
  }

  .main-sidenav {
    min-width: 250px;
  }

  .app-toolbar {
    app-config-panel {
      position: absolute;
      z-index: 10;
      right: 6px;
      top: 8px;
    }
  }

  &.app-is-mobile {
    .app-sidenav-container {
      flex: 1 0 auto;
    }

    .app-toolbar {
      position: fixed;
      z-index: 2;
    }
  }

  .main-content {
    padding-left: 1rem;
    padding-top: 15px;
    margin-top: -15px;
  }
}
