<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(vm.isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(vm.isHandset$ | async) ? 'over' : 'side'"
    [opened]="(vm.isHandset$ | async) === false">
    <mat-toolbar>Menu
      <renders></renders>
    </mat-toolbar>

    <mat-nav-list>
      <ng-container *ngFor="let i of menuItems">
        <a mat-list-item [routerLink]="[i.link]">{{i.label}}</a>
      </ng-container>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="vm.isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>RxAngular Template <renders></renders></span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
