:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding-right: 1rem;
  .table-wrapper {
    flex-grow: 1;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    table {
      flex-grow: 1;
      th,
      td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    .row-active {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
