.siblings {
  display: flex;
  flex-wrap: wrap;
}

.sibling {
  width: 4px;
  height: 4px;
  margin: 0 1px 1px 0;
  border: 1px solid green;
  background-color: transparent;
}

.sibling.filled {
  border: 1px dashed green;
  background-color: orange;
}
