.siblings {
  display: flex;
  flex-wrap: wrap;
}

.sibling {
  position: relative;
 width: 4px;
  height: 4px;
  margin: 0 2px 2px 0;
  padding: 0px;

  outline: 1px solid green;
  background-color: transparent;
}

.sibling div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.sibling div.filled {
  background-color: orange;
}
