name: rx-angular CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  # Group concurrency on workflow, then:
  # - Is merge run? Group on branch name (`refs/heads/main`)
  # - Is pull request? Group on pull request branch name, for example `feat/add-awesome-feature`
  group: >-
    ${{ github.workflow }}-${{
      github.event_name == 'push'
        && github.ref
        || github.head_ref
    }}
  # Run merge workflows in sequence to prevent parallel deployments and releases
  # Cancel stale pull request runs in progress for the same branch
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  NODE_OPTIONS: --max-old-space-size=6144
  NX_VERBOSE_LOGGING: false
  docs-name: docs
  docs-path: dist/apps/docs

jobs:
  dte_agents:
    name: DTE Agent ${{ matrix.agent }}
    runs-on: ubuntu-latest
    timeout-minutes: 20

    # The Free GitHub plan has a limit of 20 concurrent jobs on Ubuntu images
    # Reference: https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration
    # If we need to, we can optimize for 2 simultaneous workflow runs:
    # 2 x 1 main job   =  2 concurrent jobs
    # 2 x 9 agent jobs = 18 concurrent jobs
    # Total            = 20 concurrent jobs
    #
    # However, we don't have many projects or targets in this workspace, so we
    # lower the number of agents to reduce spent compute time.
    strategy:
      matrix:
        # Must match the argument passed to `nx-cloud --agent-count` in the dte_coordinator job
        agent: [1, 2, 3, 4]

    steps:
      - name: Checkout all commits
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up dependencies
        uses: ./.github/actions/setup

      - name: Start Nx Cloud DTE Agent
        run: yarn nx-cloud start-agent

  # We're using Nx Cloud for Distributed Task Execution
  # Reference: https://nx.dev/using-nx/dte
  #
  # The coordinator outputs the combination of task outputs from the agents,
  # both terminal and file outputs
  dte_coordinator:
    name: DTE Coordinator
    runs-on: ubuntu-latest
    env:
      NX_CLOUD_DISTRIBUTED_EXECUTION: true
      NX_DISTRIBUTED_TASK_EXECUTION: true

    steps:
      - name: Checkout all commits
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up dependencies
        uses: ./.github/actions/setup

      - name: Start Nx Cloud DTE
        # The --agent-count parameter must match the number of strategies run by the dte_agents job
        run: yarn nx-cloud start-ci-run --agent-count=4

      - name: Lint Nx workspace
        env:
          # DTE is disabled to run this step on the DTE coordinator while the agents are set up
          NX_CLOUD_DISTRIBUTED_EXECUTION: false
          NX_DISTRIBUTED_TASK_EXECUTION: false
        run: yarn nx workspace-lint
      - name: Check formatting
        env:
          # DTE is disabled to run this step on the DTE coordinator while the agents are set up
          NX_CLOUD_DISTRIBUTED_EXECUTION: false
          NX_DISTRIBUTED_TASK_EXECUTION: false
        run: yarn nx format:check

      # Distribution strategy for 2 vCPUs per hosted runner (GitHub Free):
      #

      # lint: 2 tasks assigned at a time, 1 task per vCPU
      - name: Run Affected lint
        run: yarn nx affected:lint --parallel --max-parallel=2 --quiet

      # test: 1 task assigned at a time with 2 parallel processes, 1 process per vCPU
      - name: Run Affected test
        id: test
        run: yarn nx affected:test --parallel --max-parallel=1 --max-workers=2 --ci --code-coverage

      # build: 2 tasks assigned at a time, 1 task per vCPU
      - name: Run Affected build
        run: yarn nx affected:build --exclude=docs --parallel --max-parallel=2

      # e2e: 1 tasks assigned at a time, 1 process per agent
      - name: Run Affected e2e
        run: yarn nx affected:e2e --max-parallel=1

      - name: Stop Nx Cloud DTE agents
        if: ${{ always() }}
        run: yarn nx-cloud stop-all-agents

      # Upload coverage reports to Codecov
      - name: Upload state coverage
        if: steps.test.outcome == 'success'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/state/lcov.info
          flags: state

      - name: Upload template coverage
        if: steps.test.outcome == 'success'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/template/lcov.info
          flags: template

      - name: Upload cdk coverage
        if: steps.test.outcome == 'success'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/cdk/lcov.info
          flags: cdk

      - name: Upload eslint-plugin coverage
        if: steps.test.outcome == 'success'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/eslint-plugin/lcov.info
          flags: eslint-plugin

  # The docs project is built in a separate job because it requires Node.js 16
  build-docs:
    name: Build docs
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout all commits
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up dependencies
        uses: ./.github/actions/setup
        with:
          # Docusaurus needs Node.js 16
          node-version: 16

      - name: Build docs
        env:
          NX_CLOUD_DISTRIBUTED_EXECUTION: false
          NX_DISTRIBUTED_TASK_EXECUTION: false
        run: yarn nx build docs

      - name: '[Merge] Upload docs'
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.docs-name }}
          path: ${{ env.docs-path }}

  deploy-docs:
    name: '[Merge] Deploy docs'
    runs-on: ubuntu-latest
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    if: github.ref == 'refs/heads/main'

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: www.rx-angular.io
      #url: ${{ steps.deployment.outputs.page_url }}

    needs: [build-docs]

    steps:
      - name: Download docs
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.docs-name }}
          path: ${{ env.docs-path }}

      - name: Set up GitHub Pages
        uses: actions/configure-pages@v2

      - name: Upload docs to GitHub Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: ${{ env.docs-path }}

      - name: Deploy docs to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
